body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
  }
.card-container {
    width: 300px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    
}
.card-header {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    display: inline-block; /* Makes the border wrap the text */
}
.card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
.card-classifications {
    font-size: 0.8em;
    margin-bottom: 10px;
}
.card-attributes {
    font-size: 0.9em;
    margin-bottom: 10px;
}
.card-lore {
    font-style: italic;
    margin-bottom: 10px;
}
.card-text {
    font-size: 0.9em;
    margin-bottom: 20px;
}
.card-footer {
    font-size: 0.8em;
    text-align: center;
}
.back-button {
    position: absolute; /* Positioning the button absolutely */
    top: 10px; /* 10px from the top */
    left: 10px; /* 10px from the left */
    padding: 0.5em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0.25em;
    font-size: 1em;
    cursor: pointer;
}
.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
.nav-item {
    color: #fff;
    text-align: center;
    flex-grow: 1;
}
.nav-icon {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-size: cover;
}
/* Icons can be added with background images */
.home-icon { background-image: url('icons/home-icon.svg'); }
.search-icon { background-image: url('icons/search-icon.svg'); }
.collection-icon { background-image: url('icons/collection-icon.svg'); }
.decks-icon { background-image: url('icons/decks-icon.svg'); }
.scan-icon { background-image: url('icons/scan-icon.svg'); }